<div class="favorite">
  <% if favorite = current_user.favorited(post) %>
    Favorited
  <% else %>
<%= link_to [post, Favorite.new], class: 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-star"> </i>&nbsp; Favorite
<% end %>
  <% end %>
</div>