<h1>About Bloccit</h1>
<p>created by: <a href="http://www.therachelthings.wordpress.com" target="_blank">Rachel</a> (under the guidance of Levi)</p>
</br>
</bv>
<%= link_to "Follow me on Instagram!", "http://www.instagram.com/zeri_mar", class: "social-btn" %>