h1 {
  color: red;
}

.social-btn {
  position: absolute;
  center: 50px;
  width: 100px;
  height: 45px;
  background: white;
  border: solid;
  border-color: red;
  text-align: center;
  font-family: "Georgia", Georgai, serif;
}